<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368987488793-cq5hkk9parr9jjg2i4ssbsrv03jhkscs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368987488793-cq5hkk9parr9jjg2i4ssbsrv03jhkscs</string>
	<key>API_KEY</key>
	<string>AIzaSyAyEx8Ae-efBb3re5MrWDnd8StUcidAG0g</string>
	<key>GCM_SENDER_ID</key>
	<string>368987488793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Craftrips</string>
	<key>PROJECT_ID</key>
	<string>craftrips-5a50b</string>
	<key>STORAGE_BUCKET</key>
	<string>craftrips-5a50b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368987488793:ios:b5fbb151503efcd9aea088</string>
	<key>DATABASE_URL</key>
	<string>https://craftrips-5a50b.firebaseio.com</string>
</dict>
</plist>